<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
    <ion-item end>
    <ion-label>Edit</ion-label>
    <ion-toggle [(ngModel)]="editable" (ngModelChange)="toggled()"></ion-toggle>
    </ion-item>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="profile__img-container">
    <img class="profile__img" src="assets/imgs/profile.png" alt=''>
  </div>
  <ion-card *ngIf="profile">
    <ion-card-content>
      <ion-item>
        <ion-label floating > First Name </ion-label><br>
        <ion-input [value]="profile.firstName" [readonly]="!editable"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating> Last Name </ion-label>
        <ion-input [value]="profile.lastName" [readonly]="false"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating> Email address </ion-label>
        <ion-input [value]="profile.email" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating> Status message </ion-label>
        <ion-input [value]="profile.status" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating> Phone Number </ion-label>
        <ion-input [value]="profile.phonenumber" [readonly]="true"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="logout()" color='danger'>Logout</button>
</ion-content>
